version: '3.8'

services:
  kafka-exporter:
    image: danielqsj/kafka-exporter:latest
    container_name: kafka-exporter
    environment:
      KAFKA_SERVER: ${BOOTSTRAP_SERVER}
      KAFKA_VERSION: "2.8.0"
      # 如果 MSK 使用 IAM/SASL，添加以下参数：
      # KAFKA_AUTH_METHOD: "IAM"
      # AWS_REGION: "ap-southeast-1"
    ports:
      - "9308:9308"
    restart: always

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    restart: always
    depends_on:
      - kafka-exporter

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
    volumes:
      - grafana-data:/var/lib/grafana
      # 可选：自动导入 Kafka Dashboard
      #- ./grafana-provisioning:/etc/grafana/provisioning
    restart: always
    depends_on:
      - prometheus

volumes:
  grafana-data:
