version: '3'
services:
  rabbitmq:
    image: rabbitmq:3.13.7-management
    container_name: rabbitmq
    ports:
      - "4369:4369"       # Erlang端口
      - "5671:5671"       # AMQP 0-9-1 with TLS
      - "5672:5672"       # AMQP 0-9-1 without TLS
      - "15671:15671"     # 管理端口（TLS）
      - "15672:15672"     # 管理界面
      - "15692:15692"     # Prometheus 指标端口
      - "25672:25672"     # Erlang server间的内部通信
    restart: "always"
    volumes:
      - ../datas/rabbitmq:/var/lib/rabbitmq  # 数据目录
      - ./etc/:/etc/rabbitmq       # 配置文件目录
      - ../logs/rabbitmq/:/var/log/rabbitmq   # 日志文件目录
    logging:
      driver: json-file
      options:
        max-size: "100m"   # 日志最大尺寸
        max-file: "10"     # 最大日志文件数
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER:-admin}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS:-rabbitmq123456}