#upstream backend {
#    server subscription-consumer:9000;
#}

#upstream consumer {
#    server subscription-consumer:9501;
#}



upstream backend74 {
   server 192.168.x.x:9001;
}

upstream your_upstream {
   server 192.168.x.x:10010;
}
